<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.think360.sosimpli">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".ui.activities.AssignedScheduleDeatilActivity" />
        <activity android:name=".ui.activities.ContactToOperatorActivity" />
        <activity android:name=".ui.activities.AddAvailabilityActivity" />
        <activity android:name=".ui.activities.SoSDetailActivity" />
        <activity
            android:name=".ui.activities.ChangeScheduleActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".ui.activities.CompletedSchedulesActivity" />
        <activity android:name=".ui.activities.CompletedScheduleDetailActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.think360.sosimpli.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity
            android:name=".ui.activities.login.ForgetPasswordActivity"
            android:label="Forget Password" />
        <activity
            android:name=".ui.activities.login.VerifyOtpActivity"
            android:label="Confirm OTP" />
        <activity
            android:name=".ui.activities.login.ConfirmPasswordActivity"
            android:label="Confirm Password" />
        <activity android:name=".ui.activities.NonApprovedActivity"></activity>
    </application>

</manifest>